@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model HospitaldeMascotas.Models.Mascota;
@{
    ViewData["Title"] = "Create";
}



<h4>Mascota</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <h2>Nueva Mascota</h2>
        <form asp-controller="Mascota" asp-action="Nuevo" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdMascota" class="control-label"></label>
                <input asp-for="IdMascota" class="form-control" />
                <span asp-validation-for="IdMascota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreMascota" class="control-label"></label>
                <input asp-for="NombreMascota" class="form-control" />
                <span asp-validation-for="IdMascota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Raza" class="control-label"></label>
                <input asp-for="Raza" class="form-control" />
                <span asp-validation-for="Raza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <input asp-for="Sexo" class="form-control" />
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombrePropietario" class="control-label"></label>
                <input asp-for="NombrePropietario" class="form-control" />
                <span asp-validation-for="NombrePropietario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CedulaPropietario" class="control-label"></label>
                <input asp-for="CedulaPropietario" class="form-control" />
                <span asp-validation-for="CedulaPropietario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionPropietario" class="control-label"></label>
                <input asp-for="DireccionPropietario" class="form-control" />
                <span asp-validation-for="DireccionPropietario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonoPropietario" class="control-label"></label>
                <input asp-for="TelefonoPropietario" class="form-control" />
                <span asp-validation-for="TelefonoPropietario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input asp-for="Activo" class="form-check-input"  type="checkbox" id="chkActivo"/>
                <label asp-for="Activo" class="form-check-label">Activo</label>
               
            </div>


            <div class="mb-3">
                <button class="btn btn-primary" type="submit">"Guardar"</button>
                <a asp-controller="Mascota" asp-action="Lista" class="btn btn-warning"> Volver </a>

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

